@use '@/static/styles/styles.scss';
.container {
  text-align: center;
  width: 100%;
  position: relative;
}
.container.mobile {
  width: 93.75%;
  height: 100vh;
}

.container.desktop {
  max-width: 1440px;
  margin: 170px 320px 0 320px;
}

.container-interactive {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-interactive.desktop {
  margin-top: 45px;
}
.container-interactive.mobile {
  display: flex;
  flex-direction: column;
}
.line {
  width: 280px;
  border: 1px solid var(--gap-line-color);
}

// @media (max-width: 768px) {
//   .container {
//     margin-left: 6.25%;
//   }
// }

.information-section.mobile {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.information-section.desktop {
  margin-top: -48px;
  margin-left: 78px;
}

.swiper {
  user-select: none;
}
