@use '@/static/styles/styles.scss';
.container {
  text-align: center;
  max-width: 1200px;
  position: relative;
}
.container.desktop {
  max-width: 1440px;
  margin: 170px 320px 0 320px;
}
.title {
  font-size: 2em;
  color: var(--color);
  position: relative;
  display: flex;
}
.title.mobile {
  margin-top: 59px;
  height: 48px;
  width: 123px;
}
.title.desktop {
  position: absolute;
}
.title.desktop::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--more-color),
    var(--desktop-color)
  );
}
.title-description {
  font-weight: 700;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.title-description.mobile {
  font-size: 20px;
}
.title-description.desktop {
  font-size: 56px;
  margin-left: 78px;
  width: 353px;
}
.container-interactive {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-interactive.desktop {
  margin-top: 45px;
}
.container-interactive.mobile {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
}
.line {
  width: 280px;
  border: 1px solid var(--gap-line-color);
  margin-top: 130px;
}
.years {
  width: 273px;
  height: 73px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  font-size: 56px;
  user-select: none;
}
.years.desktop {
  font-size: 200px;
  position: absolute;
  width: 973px;
  height: 160px;
}

.year-2015.desktop {
  color: var(--desktop-color);
}
.year-2015.mobile {
  color: var(--mobile-color);
}
.year-2022 {
  color: var(--more-color);
}

.events {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  scrollbar-width: none;
}
.events.desktop {
  gap: 80px;
  margin-right: 80px;
}
.event {
  text-align: left;
}
.event.desktop {
  width: 320px;
}
.event h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--event-text-color);
}
.event p {
  color: #3a4a5a;
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container {
    margin-left: 20px;
  }
  .event {
    width: 80%;
    margin-bottom: 20px;
  }
}

.information-section.mobile {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
}
.paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;
}
.paginate-line {
  width: 86px;
  height: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paginate-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--paginate-item-color);
  opacity: 0.4;
}
.paginate-item.active {
  opacity: 1;
}

.information-section.desktop {
  margin-top: -48px;
  margin-left: 78px;
}

.event__prev-button,
.event__next-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: var(--mobile-color);
  font-weight: bold;
}
.event__prev-button {
  left: 0;
}
.event__next-button {
  right: 0;
}
.next-button,
.prev-button {
  background-size: cover;
  border-radius: 50%;
}
.prev-button {
  transform: rotate(-180deg);
}
.interactive-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  width: 95%;
}
